<div class="col-4 border border-light rounded p-3 m-2 d-flex flex-column align-items-center" style="border-color: #d5cebe;">
  <div class="card" style="width: 18rem;">
    <img src="bonsai_2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card 1</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
