<footer>
  <div class="contenedor_footer">
    <div class="contenedor_footer_columnas">
      <h2>Horario</h2>
      <div class="linea"></div>
      <p>Lun-Vie: 9AM - 7PM</p>
      <p>Sábado: 9AM - 2PM</p>
      <p>Domingo: Cerrado</p>
    </div>

  </div>

  <div class="linea"></div>

  <div class="footer-copyright-container d-flex justify-content-between align-items-center">
    <!-- Contenedor del texto centrado -->
    <div class="contenedor_copyright w-80 mx-auto">
      <p>Bonsai Garden. Web realizada por Jose Carlos Muñoz Ferrer</p>
    </div>

    <!-- Contenedor del icono a la derecha -->
    <div class="footer-icon-btn w-20">
      <a href="#"><img src="/icono_arriba.png" alt="Icono" class="footer-icon"></a>
    </div>
  </div>
</footer>
