footer {
  background: #898f81;
  padding: 40px 0;
  text-align: center;

  .contenedor_footer {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: flex-start;

    .contenedor_footer_columnas {
      h2 {
        font-size: 40px;
        color: #e5f3e1;
      }

      p{
        font-size: 25px;
        color: #e5f3e1;
        text-transform: capitalize;
        margin: 8px 0;
      }

      .linea {
        height: 1px;
        margin: 5px 50px;
      }
    }


  }

  .linea {
    background: #5f645d;
    height: 2px;
    margin: 20px 50px;
  }

  .footer-copyright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .contenedor_copyright {
    margin: 0;
  }

  .footer-icon-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; /* Espacio entre el texto y el icono */
  }

  .footer-icon {
    width: 70px;  /* Ajusta el tamaño del icono */
    height: 70px;
  }
}
