<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bonsai Garden</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="favicon_bonsai.ico" type="image/x-icon">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>
<body>

<header>

  <div class="header_contenedor_logo">
    <div class="contenedor_logo">
      <img src="img/logo_bon_sai_garden_1.png" class="logo" alt="bonsai">
    </div>
    <div class="contenedor_iconos">
      <div class="contenedor_iconos_columna">

        <a target="_blank"
           href="https://www.facebook.com/">
          <img src="img/icons-facebook-50.png" alt="Facebook">
        </a>
        <a target="_blank"
           href="https://www.instagram.com/">
          <img src="img/icons-instagram-50.png" alt="Twitter">
        </a>
        <a target="_blank"
           href="https://x.com/?lang=es&mx=2">
          <img src="img/icons-x-50.png" alt="Instragram">
        </a>
      </div>
    </div>
  </div>
