<div class="container d-flex justify-content-between">
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Eleagnus</h6>
      <img src="../bonsai_2.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Precio: 500€</li>
        <li>Variedad: Pungens</li>
        <li>Origen: Japon</li>
        <li>Tamaño: Shohin
        </li>
      </ul>
    </div>
  </div>
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Junipero</h6>
      <img src="../bonsai_1.jpg" alt="" style="width: 220px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Precio: 40€</li>
        <li>Variedad: Itohigawa</li>
        <li>Origen: España</li>
        <li>Tamaño: Shohin
        </li>
      </ul>
    </div>
  </div>
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Gardenia</h6>
      <img src="../bonsai_3.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Precio: 400€</li>
        <li>Variedad: Jasminoides</li>
        <li>Origen: España</li>
        <li>Tamaño: Shohin</li>
      </ul>
    </div>
  </div>

  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Chaenomeles</h6>
      <img src="../bonsai-1.jpg" alt="" style="width: 255px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Precio:500€</li>
        <li>Variedad: Japonica</li>
        <li>Origen: Japon</li>
        <li>Tamaño: Mame
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-between">
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Olmo</h6>
      <img src="../bonsai-2.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Precio:200€</li>
        <li>Variedad: Nirekeyaki</li>
        <li>Origen: China</li>
        <li>Tamaño: Shohin
        </li>
      </ul>
    </div>
  </div>
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Romero</h6>
      <img src="../bonsai-3.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Precio:150€</li>
        <li>Variedad: Rastrero</li>
        <li>Origen: España</li>
        <li>Tamaño: Shohin
        </li>
      </ul>
    </div>
  </div>
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Arce</h6>
      <img src="../Arce.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Precio:250€</li>
        <li>Variedad: Yamamomiji</li>
        <li>Origen: Japon</li>
        <li>Tamaño: Mame
        </li>
      </ul>
    </div>
  </div>
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Pino</h6>
      <img src="../bonsai-4.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Precio:350€</li>
        <li>Variedad: Thumberguii</li>
        <li>Origen: España</li>
        <li>Tamaño: Shohin
        </li>
      </ul>
    </div>
  </div>
</div>




