<div class="container d-flex justify-content-between">
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Eleagnus</h6>
      <img src="../bonsai_2.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Variedad:</li>
        <li>Clima: </li>
        <li>Importacion:</li>
        <li>Tamaño:
        </li>
      </ul>
    </div>
  </div>
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Junipero</h6>
      <img src="../bonsai_1.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Variedad:</li>
        <li>Clima: </li>
        <li>Importacion:</li>
        <li>Tamaño:
        </li>
      </ul>
    </div>
  </div>
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Gardenia</h6>
      <img src="../bonsai_3.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Variedad:</li>
        <li>Clima: </li>
        <li>Importacion:</li>
        <li>Tamaño:
        </li>
      </ul>
    </div>
  </div>

  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Nombre</h6>
      <img src="../bonsai-1.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Variedad:</li>
        <li>Clima: </li>
        <li>Importacion:</li>
        <li>Tamaño:
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-between">
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Nombre</h6>
      <img src="../bonsai-2.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Variedad:</li>
        <li>Clima: </li>
        <li>Importacion:</li>
        <li>Tamaño:
        </li>
      </ul>
    </div>
  </div>
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Nombre</h6>
      <img src="../bonsai-3.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Variedad:</li>
        <li>Clima: </li>
        <li>Importacion:</li>
        <li>Tamaño:
        </li>
      </ul>
    </div>
  </div>
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Nombre</h6>
      <img src="../Arce.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Variedad:</li>
        <li>Clima: </li>
        <li>Importacion:</li>
        <li>Tamaño:
        </li>
      </ul>
    </div>
  </div>
  <div class="card m-3" style="width: 25rem;">
    <div class="card-body">
      <h6 class="card-subtitle display-6 mb-2 text-body-secondary">Nombre</h6>
      <img src="../bonsai-4.jpg" alt="" style="width: 200px; display: block; margin-bottom: 1rem;">
      <ul>
        <li>Variedad:</li>
        <li>Clima: </li>
        <li>Importacion:</li>
        <li>Tamaño:
        </li>
      </ul>
    </div>
  </div>
</div>




